<!DOCTYPE html>
<html>
<head>
	<title>Text Boxes</title>
</head>
<body>
	
	<div class="container">
        <div class="row">
            <div>
                11a : Result
             </div>
                <div class="card text-center">
                    <div class="card-body">
                      
                    <label for="r">R:</label>
                    <textarea id="r" name="r" rows="10" cols="50" maxlength="1400" readonly>{{ results }}></textarea>
                    
                     
    
                      
                    </div>
                </div>
        </div>
      </div>
</body>
</html>