{% extends 'base.html' %}
{% include 'headers.html' %}


{% block title%} Home {% endblock %}

{% block body %} 





<div class="container">
  <div class="row">
      <div>
          10a : Count the characters from text box
       </div>
          <div class="card text-center">
              <div class="card-body">
                <form action='/cbd10a' method="POST", method="GET">
                  <label for="t">T:</label>
                  <textarea id="t" name="t" rows="10" cols="50" maxlength="1400"></textarea>
                  <br><br>
                  <label for="s">S:</label>
                  <textarea id="s" name="s" rows="3" cols="50" maxlength="60"></textarea>
                  <br><br>
                  <label for="r">R:</label>
                  <textarea id="r" name="r" rows="10" cols="50" maxlength="1400" readonly>{{ result }}></textarea>
                  <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                </form>
                
                
              </div>
          </div>
  </div>
</div>
<hr>
<hr>

<div class="container">
  <div class="row">
      <div>
          10b : remove punction 
       </div>
          <div class="card text-center">
              <div class="card-body">
                <form action='/cbd10b' method="POST", method="GET">
                  <label for="t">T:</label>
                  <textarea id="t" name="t" rows="10" cols="50" maxlength="1400"></textarea>
                  <br><br>
                  <label for="s">S:</label>
                  <textarea id="s" name="s" rows="2" cols="50" maxlength="60"></textarea>
                  <br><br>
                  
                  <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                </form>
              
                
                
              </div>
          </div>
  </div>
</div>




	


<hr>
<hr>

<div class="container">
  <div class="row">
      <div>
          11a : 
       </div>
          <div class="card text-center">
              <div class="card-body">
                <form action='/cbd11a' method="POST", method="GET">
                  <label for="t">S:one to five words </label>
                  <textarea id="T" name="T" rows="10" cols="50" maxlength="1400"></textarea>
                  <br><br>
                  <label for="s">T: word to search</label>
                  <textarea id="S" name="S" rows="2" cols="50" maxlength="60"></textarea>
                  <br><br>
                  
                  <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                </form>
              
                
                
              </div>
          </div>
  </div>
</div>


<hr>
<hr>




<div class="container">
    <div class="row">
        <div>
            Task 1: Print first N characters from the text file
         </div>
            <div class="card text-center">
                <div class="card-body">
                  <h5>Allow a user to give a number N, and print first n characters</h5>
                  <br>
                  <form action='/task1' method="POST", method="GET">
                    <label id="labels">Please Enter N </label>
                    <input type="text" id="task1" name="task1" placeholder="Ex: 125" style="width: 30%;margin-right: 2%;" required/>
                    <br><br>
                    <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                  </form>  
                </div>
            </div>
    </div>
</div>

<br>
<hr>
<br>


<div class="container">
  <div class="row">
      <div>
          Question 11: Enter a string and get the frequency of the characters
       </div>
          <div class="card text-center">
              <div class="card-body">
                <h5>Allow a user to enter a word and show the frequency of the charcters</h5>
                <br>
                <form action='/task2' method="POST", method="GET">
                  <label id="labels">Please Enter a word</label>
                  <input type="text" id="task2" name="task2" placeholder="Ex: Word" style="width: 30%;margin-right: 2%;" required/>
                  <br><br>
                  <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                </form>  
              </div>
          </div>
  </div>
</div>

<br>
<hr>
<br>

<div class="container">
  <div class="row">
      <div>
          Practice: Enter a string and display lines and line number
       </div>
          <div class="card text-center">
              <div class="card-body">
                <h5>Enter a string</h5>
                <br>
                <form action='/practice1' method="POST", method="GET">
                  <label id="labels">Please Enter a word</label>
                  <input type="text" id="task2" name="search" placeholder="Ex: Word" style="width: 30%;margin-right: 2%;" required/>
                  <br><br>
                  <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                </form>  
              </div>
          </div>
  </div>
</div>

<br>
<hr>
<br>


<div class="container">
    <div class="row">
        <div>
            Task 3: Enter a character and replace it with another character
         </div>
            <div class="card text-center">
                <div class="card-body">
                  <h5>Enter a character and replace it with another character</h5>
                  <br>
                  <form action='/task3' method="POST", method="GET">
                    <label id="labels">Enter a charcter to be replaced</label>
                    <input type="text" id="task31" name="task31" placeholder="Ex: How are you doing" style="width: 30%;margin-right: 2%;" required/>
                    <br><br>
                    <label id="labels">Enter a replacement character</label>
                    <input type="text" id="task32" name="task32" placeholder="Ex: How are you doing" style="width: 30%;margin-right: 2%;" required/>
                    <br><br>
                    <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                  </form>  
                </div>
            </div>
    </div>
</div>

<br>
<hr>
<br>


<div class="container">
  <div class="row">
      <div>
          Task 4: Show 10 words from Min to Max entered by the user
       </div>
          <div class="card text-center">
              <div class="card-body">
                <h5>Allow a user to give low and high values and show 10 words from max to min</h5>
                <br>
                <form action='/task4' method="POST", method="GET">
                  <label id="labels">Please Enter Low Value </label>
                  <input type="text" id="task41" name="task41" placeholder="Ex: 125" style="width: 30%;margin-right: 2%;" required/>
                  <br><br>
                  <label id="labels">Please Enter High Value </label>
                  <input type="text" id="task42" name="task42" placeholder="Ex: 125" style="width: 30%;margin-right: 2%;" required/>
                  <br><br>
                  <input class="btn btn-secondary" type="submit" id="button" value="Submit"/>
                </form>  
              </div>
          </div>
  </div>
</div>


{% endblock %}